<form action="/names" method="POST">
  <label for="player_1_name">
    Enter your name, player 1: 
    <input type="text" name="player_1_name">
  </label>
  <br>
  <label for="player_2_name">
    Enter your name, player 2: 
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>