<h1> Welcome to Battle!</h1>
<p>Please enter your names below.</p>
<form action="/names" method="POST">
  <label for="player1">
    Player 1: 
    <input type="text" name="player1" autofocus>
  </label>
  <br>
  <lable for="player2">
    Player 2:
    <input type="text" name="player2">
  </label>
  <br>
  <button value="submit">
    Start Battle
  </button>
</form>